<!DOCTYPE html>
<html lang="ru">
<head>
<meta charset="UTF-8" />
  {% load static %}
<title>LocalLibrary</title>
<link rel="stylesheet" href="{% static 'css/style.css' %}" />
</head>
<body>
<header>
  <h1><a href="{% url 'index' %}" class="logo">LocalLibrary</a></h1>

  <nav>
    {% block sidebar %}
    <a href="{% url 'books' %}">Книги</a>
    <a href="{% url 'bookinstances' %}">Экземпляры книг</a></li>
    <a href="{% url 'authors' %}">Авторы</a>
    <a href="{% url 'genres' %}">Жанры</a>
    <a href="{% url 'languages' %}">Языки</a>
  </nav>

</header>
<main>
    {% block content %}
    {% endblock %}
  </main>

<footer>
  LocalLibrary © 2024
</footer>
{% endblock %}
</body>
</html>